body{
 background-color: rgb(132, 29, 4);
 font: normal 15px Arial ;

}
header{
    color: rgb(240, 242, 243);
    text-align: center;

}
section{
    background: rgb(224, 223, 223);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.360);

}
footer{
 color: white;
 text-align: center;
 font-style: italic;
}